@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Lexend", serif;
  background-color: #fff;
  margin: 0 auto;
  max-width: 100%;
}